 /*O header e o footer devem possuir 40px de altura, e padding de 10px em todas as direções. OK
 O header deve ser laranja, e o footer preto. Ambos com letras brancas. OK
O header deve possuir uma borda preta na parte de baixo. OK
A área main deve possuir margin de 15px em todas as direções, padding de 20px em cima e por baixo, e 30px dos lados. Além disso, deve possuir largura de 90vw e altura de 80vh.
Os articles devem possuir margem de 25px para cima e para baixo.*/

*{
    padding: 0;
    margin: 0;
}

header{
    background: orange;
    border-bottom: 4px solid black;
}


footer{
    background: black;
}


header, footer{
    color: rgb(255, 255, 255);
    height: 40px;
    padding: 10px;
    font-family: Helvetica;
}


main{
    margin: 15px;
    padding: 20px 30px 20px 30px;
    width: 90vw;
    height: 80vh;
    font-family: Arial;
}


article{
    margin-top: 25px;
    margin-bottom: 25px;
}


.destaque{
    color: orange;
}